.burgername {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 21px;
	letter-spacing: 2px;
	word-spacing: 2px;
	color: #FF0202;
	font-weight: bolder;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: uppercase;
	text-shadow: 1px 1px 2px black;
}

main {
	background-color: #f8f8f8;
}
.product-card {
	box-shadow: 13px 12px 15px -3px rgba(0,0,0,0.1);
	transition: all .2s;
	margin-top:15px;
	background-color: #fff;
	margin-bottom:20px;
}

.product-card:hover {
	box-shadow: 13px 12px 15px -3px #515151;
}
.product-thumb a {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 200px;
}

.product-thumb img {
	max-width: 100%;
	max-height: 100%;
}

.product-details {
	padding:20px;
}

.product-details h3 a {
	font-weight: 700;
	display:block;
	text-decoration: none;
	height: 33px;
	overflow: hidden;
}

.product-details p {
	font-size:14px;
	color:grey;
	height: 70px;
	overflow: hidden;
	margin-top:10px;
}

.product-bottom-details {
	overflow: hidden;
	border-top: 1px solid #d4d4d4;
	padding:10px;

}
.product-price {
	font-size:20px;
	font-weight: 700;
	color:red;

}

.product-price small {
	font-size:15px;
	font-weight: 700;

}

.product-links a {
	font-size:20px;

}

p input {
	height: 50%;

}

.disc {
	height: 70%;

}

span {
	font-weight: bold;
}